html, body{
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
#root{
  height: 100%;
}

*{
  scrollbar-width: thin !important;
  scrollbar-color: #cc1b1b;
}

::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  /* background-color: red !important; */
}
::-webkit-scrollbar-track{
  border-radius: 0;
}
::-webkit-scrollbar-thumb{
  background-color: #cc1b1b;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 4px;
}
::-webkit-scrollbar-corner{
  background: #cc1b1b;
}

@media only screen and (max-width: 360px) {
  body {
    overflow: scroll !important;
  }
}